.velikiKontejner {
  background-image: url("https://www.peninsula.com/en/-/media/images/the-peninsula-hotels/destination/phk_exterior_1280.jpg?mw=867&hash=B2EF433FD9257445C0C15BDC296F4CF9");
  background-repeat: no-repeat;
  background-size: cover;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

label {
  font-size: 14px;
}

input {
  height: 20px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  height: 35px;
  width: 100%;
  background-color: #252525;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}
